.calibrationField{
	background-color: #91fc8d;
	margin: auto;
	padding: 5%;
	width: 20%;
}

.calibrateBackground{
	background-image: url(calibrate.png);
}

.calibrateBackground.off{
	background-image:none;
}